#menu {
    padding: 9px 0;
    text-align: center;
    background: #d3261f;
    position:fixed;
    left:0;
    top:0;
    width:100%;
}

body{
  margin-top:80px;
  
}

#menu a {
    color:white;
    text-decoration:none;
    
}

#menu li  {
    margin: 0 10px;
    display: inline-block;

}

#menu ul li a:hover {
    
    color: #white;
    border-bottom:3px solid #a7acb0;
}


footer{
    text-align: center;
    
}

p {
    font-family:sans-serif;
    text-align:justify;
}

img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
    
}

 p, table{
        display: none;
        background-color: rgb(200,228,221)
        padding:20px 20px;
        margin:auto;
        
    }
    #DS-2:hover table,p {
       
        display:block;
    } 
    #DS-1:hover table,p{
        display:block;
       
    }
    
     table{
width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
    
     }

    
